body{
    background-color: olive;
}
#par1{
    text-align: center;
    font-size: 300%;
    color:whitesmoke;
    background-color: black;
}
h3{
    background-color: khaki;
}
p{
    background-color:greenyellow;
    color:red
}
h5{
    color: #CE0559;
    font-family: verdana;
    font-size: 140%;
    border: 1px solid purple;
    padding: 15px; 
    margin: 20px;
}
#Special{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    border: 10px solid purple;
    padding: 10px; 
    margin: 10px;
}

#GoogleLink{
    text-align: center;
    color: chocolate;
    font-family: sans-serif;
    font-size: 130%;
    border: 10px solid salmon;
    padding: 10px; 
    margin: 20px;
}
hr{
    border: 2px solid black;
}
p.type1{
    background-color: navajowhite;
    color: fuchsia;
    font-size: 97%;
    padding: 10px; 
    margin: 20px;
}
